.browserupgrade {
  padding: 0 0.5em;
  text-align: center;
  background-color: $secondary-color;
}

.ie8 body {
  padding: 0.5em 0.5em 0 0.5em;
  max-width: 50em;
  margin: 0 auto;
  background-color: #fff;
}