img#benjamin-patch {
  border: 1px solid #fff;
  border-radius: $base-border-radius;
  margin: 0 1em;

  // retina sizing
  height: auto;
  width: 140px;

  @include media($medium-viewport-plus) {
    width: 170px;
    margin: 1em 2em 1em 1em;
  }
}