header,
article,
aside,
footer {
  padding: 1em;
}

header,
footer {
  color: #fff;
  text-align: center;

  @include selection {
    background-color: $secondary-color;
    color: $base-font-color;
  }
}

header {
  padding-top: 0;
  padding-bottom: 12em;

  @include media($small-viewport-only) {
    padding-top: 0.5em;
  }

  @include linear-gradient($primary-color, $secondary-color);

  h1 {
    padding-bottom: 0.1em;
  }
}

#portrait {
  max-width: $article-max-width - 3em;
  margin: 0 auto;

  @include media($medium-viewport-plus) {
    img {
      float: left;
    }
  }
}

#title {
  max-width: $article-max-width + 5em;
  margin: 0 auto;
}

article {
  max-width: $article-max-width;
  margin: 0 auto;
  margin-top: -10em;

  @include media($desktop-article) {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  }

  @include media($medium-viewport-plus) {
    h1 {
      text-align: right;
    }
  }
}

.article-buttons {
  display: block;
  text-align: center;
  li {
    display: inline;
    padding: 0.5em;
  }
}

aside {
  text-align: center;
}

footer {
  background-color: $primary-color;
}
