<!doctype html>
<!--[if lte IE 8 ]> <html class="ie8"> <![endif]-->
<html lang="en">
<%= partial "head_tag" %>

  <body>
    <%= partial "browserupgrade" %>
    <%= partial "nav" %>
    <%= partial "header" %>
    <article>
      <%= yield %>
    </article>
    <%= partial "footer" %>
    <%= partial "navscript" %>
  </body>
</html>
