<aside>
  <h2>@BenjaminPatch on Twitter</h2>

  <a class="twitter-timeline" href="https://twitter.com/BenjaminPatch" data-widget-id="609930566864080897">Tweets by @BenjaminPatch</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</aside>