---
title: Cold Light

meta_description: Cold Light - a short film by Benjamin Patch.

priority: 0.5
change_frequency: monthly
---

<h1>Cold Light</h1>

<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/245668601" webkitAllowFullScreen></iframe></div>
