---
title: Garden of Play

meta_description: Garden of Play - a short film by Benjamin Patch.

priority: 0.3
change_frequency: monthly
---

<h1>Garden of Play</h1>

<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/158561205' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
