---
title: Iceland Montage

meta_description: A montage of carefully composed shots from various locations around Iceland. Photograped and edited by Benjamin Patch.

priority: 0.5
change_frequency: monthly
---

<h1>Iceland Montage</h1>

<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/176883642' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
