#{$all-button-inputs},
button,
.button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  margin-top: 0.5em;
  padding: 0.5em 0.75em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.33);

  &:hover,
  &:focus {
    background-color: lighten($action-color, 5%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
