@import "../lib/neat/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 1400px; 

// Neat Breakpoints
$medium-viewport: 640px;
$large-viewport: 860px;

$article-max-width: 50em;
$desktop-article: new-breakpoint(min-width 1048px 8);

$small-viewport-only: new-breakpoint(max-width 639px 4);
$medium-viewport-minus: new-breakpoint(max-width 859px 4);
$medium-viewport-plus: new-breakpoint(min-width $medium-viewport 4);
$large-viewport-only: new-breakpoint(min-width $large-viewport max-width 1399px);
$large-viewport-plus: new-breakpoint(min-width $large-viewport 8);
$max-width-plus: new-breakpoint(min-width $max-width);
