body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  @include selection {
    background-color: $primary-color;
    color: #fff;
  }
  font-size: $base-small-font-size;
  @include media($medium-viewport-plus) {
    font-size: $base-font-size;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin: 0;
}

h1 {
  font-size: $h1-font-size;
  line-height: 1.8em;
  @include media($small-viewport-only) {
    line-height: 1.2em;
  }
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
    text-decoration: underline;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

li {
  padding: 0.25em 0;
}

footer a {
  color: #fff;

  &:active,
  &:focus,
  &:hover {
    color: $secondary-color;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
