// Typography
@import url(https://fonts.googleapis.com/css?family=Roboto:300|Open+Sans:400);
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Roboto', sans-serif;

// Small screen font sizes
$base-small-font-size: 1.1em;
$h1-small-font-size: 2.5em;
$h2-small-font-size: 2em;
$h3-small-font-size: 2em;
$h4-small-font-size: 1.75em;
$h5-small-font-size: 1.25em;
$h6-small-font-size: 1em;

// Medium(+) font sizes
$base-font-size: 1.2em;
$h1-font-size: 2.5em;
$h2-font-size: 2em;
$h3-font-size: 1.75em;
$h4-font-size: 1.5em;
$h5-font-size: 1.25em;
$h6-font-size: 1.15em;

// Font weights
$base-font-weight: 400;
$heading-font-weight: 300;

// Line height
$base-line-height: 1.7;
$heading-line-height: 1.25;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$blue-gray: #78909c;
$teal: #009688;
$x-light-teal: #e0f2f1;
// grays
$dark-gray: #212121;
$medium-gray: #bdbdbd;
$light-gray: #eeeeee;

// Color Palette
$primary-color: $dark-gray;
$secondary-color: $light-gray;
$tertiary-color: $medium-gray;

// Font Colors
$base-background-color: $secondary-color;
$base-font-color: $dark-gray;
$action-color: $primary-color;

// Border
$base-border-color: $tertiary-color;
$base-border: 2px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
