---
title: Biography

meta_description: Benjamin Patch is an Avid certified film and video editor. He previously ran a multimedia production company and served in the US Army.

priority: 0.8
change_frequency: monthly
---

<h1>Biography</h1>

<hr>

<p>
  Benjamin Patch currently writes, hosts, and produces film and video editing
  tutorials for <a href="https://www.youtube.com/thepostworkshop" target="_blank">The Post Workshop</a>.
</p>

<p>
  Previously he ran a multimedia design and production company called
  Cascading Media, prior to which he served as an intelligence analyst for the
  United States Army.
  Benjamin Patch graduated with honors from
  <a href="https://www.binghamton.edu/" target="_blank">Binghamton University</a>
  with a Bachelor of Arts (BA) in Cinema.
</p>

<p>
  Benjamin Patch lives in Columbus, Ohio with his beautiful wife, Leslie.
</p>
