---
title: Filmography

meta_description: Films written, directed, or otherwise made by Benjamin Patch.

priority: 0.9
change_frequency: monthly
---

<h1>Filmography</h1>

<hr>

<h2>Astray</h2>

<ul>
  <li><strong>Credits:</strong> Director and Writer</li>
  <li><strong>Runtime:</strong> 25 minutes</li>
  <li>
    <strong>Synopsis:</strong> This film centers around a college student who
    has an extraordinary ability to “see” the future potential of his fellow
    students.
  </li>
  <li>
    <strong>Production Notes:</strong> Benjamin Patch and his producing
    partner/wife Leslie Patch recruited, organized, and lead a crew of 15 to
    create this film involving 18 locations and 12 cast members plus extras over
    the course of a 13-day shooting schedule.
  </li>
</ul>

<%= link_to "Watch the Trailer",
            "/filmography/astray.html",
            class: "button" %>

<hr>

<h2>Choice Words</h2>

<ul>
  <li><strong>Release Date:</strong> December 2016</li>
  <li><strong>Credits:</strong> Director and Writer</li>
  <li><strong>Runtime:</strong> 7 minutes 18 seconds</li>
  <li>
    <strong>Synopsis:</strong> Without speaking a word, &quot;Choice Words&quot;
    stands as a metaphorical narrative exploring the sometimes difficult choices
    we all have to make throughout our lives.
    Thoughtful cinematic techniques are employed to express a simple but
    meaningful narrative that explores the conflict between personal desires and
    societal expectations.
  </li>
  <li>
    <strong>Production Notes:</strong> Benjamin Patch and his producing
    partner/wife, Leslie Patch recruited, organized, and lead a cast and crew of
    20 talented students and alumni of Binghamton University to produce this
    film.
    Of interesting note, the endless tunnel is a cinematic illusion.
    Instead of forking off endlessly in both directions,
    the shooting location has a wall behind the camera.
    Careful camera placement, editing, seamless CGI, and a mirrored image come
    together to create a space in the viewer's mind that in reality,
    does not exist.
  </li>
</ul>

<%= link_to "Watch: Choice Words",
            "/filmography/choice-words.html",
            class: "button" %>

<hr>

<h2>Cold Light</h2>

<ul>
  <li><strong>Release Date:</strong> December 2017</li>
  <li><strong>Credits:</strong> Cinematographer, Editor, Sound Designer</li>
  <li><strong>Runtime:</strong> 3 minutes</li>
  <li>
    <strong>Synopsis:</strong> Art made from a common domestic space.
    Can you guess where this was shot? Listen carefully for clues. 
  </li>
  <li>
    <strong>Production Notes:</strong> All visual effects were created in-camera.
    No special post-processing or computer-generated imagery was involved.
  </li>
</ul>

<%= link_to "Watch: Cold Light",
            "/filmography/cold-light.html",
            class: "button" %>

<hr>

<h2>Doppler Salad</h2>

<ul>
  <li><strong>Release Date:</strong> October 2016</li>
  <li><strong>Credits:</strong> Cinematographer, Editor, Sound Designer</li>
  <li><strong>Runtime:</strong> 3 minutes</li>
  <li>
    <strong>Synopsis:</strong> An exploration of color through the lens of
    fruits and vegetables!
    Note how colors increase their intensity as the objects drift by.
    Low frequency sounds are used with long wavelengths of warm reds and oranges
    while high frequency sounds are associated with short color wavelengths like
    blue and violet. 
  </li>
  <li>
    <strong>Production Notes:</strong> Meticulous lighting and set design
    coupled with a dolly system creates the illusion of objects floating in a
    black void.
    Color grading deepens the blacks and makes the colors more vivid.
    All sounds are added in post-production as a combination of ocean waves are
    mixed with more abstract synthesized sounds.
  </li>
</ul>

<%= link_to "Watch: Doppler Salad",
            "/filmography/doppler-salad.html",
            class: "button" %>

<hr>

<h2>Iceland Montage</h2>

<ul>
  <li><strong>Release Date:</strong> July 2016</li>
  <li><strong>Credits:</strong> Cinematographer and Editor</li>
  <li><strong>Runtime:</strong> 5 minutes</li>
  <li>
    <strong>Synopsis:</strong> A montage of carefully composed shots from
    various locations around Iceland. This film is entirely nonverbal &ndash;
    the breathtaking landscapes and rhythmic editing to music speak best for
    themselves.
  </li>
  <li>
    <strong>Production Notes:</strong> Much effort was taken to maximize the
    dynamic range of the Sony FS-100 camera that was used.
    Note how details from bright clouds as well as dark shadows are retained.
    Each shot was recorded using a narrow color profile (log-like)
    that was expanded in post-production to maximize the color reproduction
    from this 8-bit camera.
    The music is a series of pre-recorded loops precisely arranged to complement
    the visuals.
  </li>
</ul>

<%= link_to "Watch: Iceland Montage",
            "/filmography/iceland-montage-2016.html",
            class: "button" %>

<hr>

<h2>Shelf Space</h2>

<ul>
  <li><strong>Release Date:</strong> May 2016</li>
  <li><strong>Credits:</strong> Director, Writer, Editor</li>
  <li><strong>Runtime:</strong> 5 minutes</li>
  <li>
    <strong>Synopsis:</strong> An evolutionary journey from the beginning of
    time to beyond the infinite.
    Inspired by Stanley Kubrick's <em>2001: A Space Odyssey</em>.
    Like Kubrick's iconic masterpiece, "Shelf Space" is open to numerous
    interpretations and meanings, which are left in the viewer's hands to
    create.
  </li>
  <li>
    <strong>Production Notes:</strong> Writer/Director Benjamin Patch was
    searching for a simple way to construct a narrative spanning an immense
    period of time.
    “Shelf Space” employs lateral tracking shots and deliberate direction of
    movement to carry the viewer from the familiar,
    to beyond our current understanding of the universe.
  </li>
</ul>

<%= link_to "Watch: Shelf Space",
            "/filmography/shelf-space.html",
            class: "button" %>

<hr>

<h2>Flicker</h2>

<ul>
  <li><strong>Release Date:</strong> March 2016</li>
  <li><strong>Credits:</strong> Writer and Key Grip</li>
  <li><strong>Runtime:</strong> 6 minutes</li>
  <li>
    <strong>Synopsis:</strong> While this film is designed to be open for
    interpretation, it is generally helpful to understand it is a metaphorical
    adventure though the memories of the protagonist – an experimental narrative
    created with experimental filmmaking techniques.
  </li>
  <li>
    <strong>Production Notes:</strong> This film was made for the Spring 2016
    Film48 competition at Binghamton University where teams are given prompts
    and then only 48-hours to write, shoot, edit, and finalize a short film.
    This film won the “Best Picture” and “Fan Favorite” awards for the Film48
    competition.
  </li>
</ul>

<%= link_to "Watch: Flicker",
            "/filmography/flicker.html",
            class: "button" %>

<hr>

<h2>The Plastic Hero</h2>

<ul>
  <li><strong>Release Date:</strong> 2010</li>
  <li><strong>Credits:</strong> Director and Writer</li>
  <li><strong>Runtime:</strong> 3 minutes</li>
  <li>
    <strong>Synopsis:</strong> This short experimental-narrative film is a
    composite of stop-motion animation and computer-generated imagery (CGI).
    The characters and sets are physical Lego toys shot with careful lighting
    and macro lenses while the atmospheric effects are CGI.
  </li>
  <li>
    <strong>Production Notes:</strong> The Sheriff's office is shot in front of
    a green-screen that was later replaced with the final background image.
    As with most animated films, voices were recorded and edited first for
    overall timing.
    All other sounds were added only after the visuals were complete.
    This film was shot with a Panasonic AG-DVX100 (DVCPRO HD),
    Letus35 lens adapter, and a variety of macro lenses.
  </li>
</ul>

<%= link_to "Watch: The Plastic Hero",
            "/filmography/the-plastic-hero.html",
            class: "button" %>

<hr>

<h2>Garden of Play</h2>

<ul>
  <li><strong>Release Date:</strong> 2009</li>
  <li><strong>Credits:</strong> Cinematographer and Editor</li>
  <li><strong>Runtime:</strong> 2 minutes</li>
  <li>
    <strong>Synopsis:</strong> Experimental film made in 2009 that explores a
    variety of cinematographic techniques including deep-focus and shallow-focus
    photography, time-lapse, high-speed photography (slow motion), and rhythmic
    editing to music.
    The title refers to both the content of the images and the filmmaker’s
    playful experimentations.
  </li>
  <li>
    <strong>Production Notes:</strong> This film was shot in Colorado Springs
    with a Panasonic AG-DVX100 (DVCPRO HD), Letus35 lens adapter, and a variety
    of lenses. Edited and color graded with Final Cut Pro. The score came from a
    music library.
  </li>
</ul>

<%= link_to "Watch: Garden of Play",
            "/filmography/garden-of-play.html",
            class: "button" %>

<hr>

<h2>Awake</h2>

<ul>
  <li><strong>Release Date:</strong> 2003</li>
  <li><strong>Credits:</strong> Director, Writer, Editor, Producer</li>
  <li><strong>Runtime:</strong> 14 minutes</li>
  <li>
    <strong>Synopsis:</strong> Herby Laxx faces his greatest challenge when
    forces beyond his control refuse to leave him in peace.
    This fun light-hearted comedy was produced in 2003 with a $200 budget.
  </li>
  <li>
    <strong>Production Notes:</strong> Shot on standard definition digital video
    (miniDV) with no professional lights or dollies.
    Gorilla shooting methods were extensively employed to create the end result.
    Most sound was recorded on location but several sequences were replaced or
    enhanced with folly work during post.
    Edited using Final Cut Pro with the score mixed from music library sources.
  </li>
</ul>

<%= link_to "Watch: Awake",
            "/filmography/awake.html",
            class: "button" %>
